@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h2>CENTRO DE RECLAMACIONES</h2>
    <p class="lead">Menú principal de plataforma dedicada a la gestión de quejas y reclamos</p>
</div>

<div class="row">
    <div class="col-md-4"></div>
        
    <div class="col-md-4"></div>
        
    <div class="col-md-4"></div>
</div>